@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100vh;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
    height: 15em;
    margin-top: 10px;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #007bff;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dropbtn:hover {
    background-color: #2980b9;
  }
  
  .dropdown-content {
    display: none;
    align-items: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #2980b9;
  }

  .dropdown .fa {
    padding-right: 20px;
    font-size: 20px;
  }

  .h3, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.h3 {
    text-align: right;
    margin-top: 0;
}

.logout {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
}

.logout:hover {
    background-color: #2980b9;
}