@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Rubik&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.fa {
    padding-right: 20px;
    font-size: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

p {
    line-height: 1.6;
}

.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dropbtn:hover {
    background-color: #2980b9;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #2980b9;
  }

body .h3, .logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

body .h3 {
    text-align: right;
    margin-top: 0;
}

body a.logout {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
}

body a.logout:hover {
    background-color: #2980b9;
}